* {
  background-color: lightslategray;
}

.AddButton {
  background-color: lightseagreen;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.Component {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

.style {
  background-color: rgb(173, 216, 230);
  border: none;
  font-size: 22px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
}
  ::-webkit-scrollbar {
  width: 15px;
  }
  ::-webkit-scrollbar-thumb {
  background: lightseagreen;
  }
 
  .handle {
    display: flex;
    justify-content: space-between;
    background-color: lightseagreen;
    width: 100%;
    cursor: move;
    
  }

  .pic {   
    color: white;
    background-color: lightseagreen;
    }  

  .remove {  
    background-color: blueviolet; 
    }

  .trash {
    color: white;
    background-color: blueviolet;
    }

  